<!-- /views/scissors.erb -->
<h2>
    We played scissors!
  </h2>

 <h2>
    <% @play.each do |an_rps| %>
        <%= "They played #{an_rps}!"%>
    </h2>

<h2>
  <% if an_rps == "scissors" %>
    <%= pp "We tied!" %>
  <% elsif an_rps == "paper" %>
    <%= pp "We won!" %>
  <% else %>
    <%= pp "We lost!" %>
    <% end %>
    <% end %>
  </h2>
